PARASUT_CLIENT_ID=senin_client_id_degerin
PARASUT_CLIENT_SECRET=senin_client_secret_degerin
PARASUT_USERNAME=parasut_giris_eposta_adresin
PARASUT_PASSWORD=parasut_giris_sifren
PARASUT_COMPANY_ID=firma_id_numaran
